name: Sync Overleaf

on:
  workflow_run:
    workflows: ["Build"]
    types: [completed]

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          ref: 'master'

      - name: Sync Overleaf
        run: |
          git config --global user.name ${{ secrets.OVERLEAF_USERNAME }}
          git config --global user.email ${GITHUB_ACTOR}@users.noreply.github.com
          git config --global user.password ${{ secrets.OVERLEAF_PASSWORD }}
          git remote add overleaf https://git.overleaf.com/${{ secrets.OVERLEAF_REPO }}
          git pull overleaf --allow-unrelated-histories
          git push overleaf origin/master:refs/heads/master
